.navBarMenu{
animation: navBarMenu 2s forwards;
}


@keyframes navBarMenu {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.opacity{
    animation: opacityanimition 4s  forwards;
}

@keyframes opacityanimition {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:920px) {
    .navBarMenu{
        width: 100%;
        animation: none;
    }
    .opacity{
        opacity: 1;
        animation: none;
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  


  .myName{
    position: relative;
    margin-top: 10px;
}
.myName::after{
    content: "";
    position: absolute;
    top: 0;
    right:  0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    border-left: 2px solid #22c55e;
    animation: myNameAnimation 5s infinite;
}
@keyframes myNameAnimation {
    0%{
        width: 100%;
    }
    80%{
        width: 0%;
    }
    100%{
        width: 0%;
    }
}