
body{
    background-color: #f9f9f9;
    font-family: 'Tajawal', sans-serif;
    overflow-y: scroll;
}




  #sliderBg{
    background-color: rgb(196, 183, 183)
    

  };

  .test{
    scale: .5;
  }

.wood-bg{
  background-image: url("../assets/wooden-texture.jpg");
}

.catCard::-webkit-scrollbar{
  background-color: #373c49;
  height: 15px;
}

.catCard::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5px;
  width: 10px;
}

.active{
  background-color: white;
  color: #22c55e;
  border-radius: 6px;
  padding: 8px;
}

@keyframes gradient {
  0% {
    background-position:  0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(to right, #f3f3f3 0%, #c2bdbd 50%, #f3f3f3 100%);
  background-size: 200% 200%;
  animation: gradient 1.5s ease-in-out infinite;
}

